/* Styles go here */
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
}

.bg-img {
    background: url("../assets/img/bg.png");
    background-size: 100% 100%;
}

.bg-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .bg-layer {
        position: relative;
        background: #fff;
    }
}

.btn-action {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.hm-100 {
    min-height: 100%;
}

.img-product {
    width: 200px;
    height: 200px;
}